@import '~bootstrap/scss/bootstrap';
$apl-color: #000;
$apl-bg: rgba(245,245,247,255);
$main-color: #000;
$main-bg: #fff;
$def-ff: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", MalgunGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif;

.header_layout {
  background-color: $apl-bg;
  color: $apl-color;
  font-family: $def-ff;
  .header_nav {
    // font-family: $def-ff;
    // background-color: $apl-bg;
    // color: $apl-color;
    .header_list {
      margin: 0;
      list-style-type: none;
      .header_item {
        .header_target {
          color: $main-color;
          text-decoration: none;
        }
      }
    }
  }
}